h1{
    color: rgb(8, 8, 8);
     font-family: Impact ;
 }
 h4{
     font-family: Impact;
     text-align: center;
     color : black;
 }
 
 .personal{
 
 display: flex;
 }
 
 
 .foto{
     text-align: center;
     width: 25%;
     padding: 0.3cm;
     background-color:rgba(2, 72, 85, 0.5);
 }
 
 img{
     height: 5cm;
     width: 5cm;
     border-radius: 10cm;
     
 }
 
 .datos{
 
     text-align: left;
     background-color: rgba(2, 72, 85, 0.5);
     width: 33%;
     color: rgb(8, 8, 8);
 }
 
 a{
     color: white;
 }
 .perfil{
   display: flex;
 
 }
 
 .puesto{
     text-align: justify;
     width: 28%;
     padding: 0.3cm;
     background-color: rgba(159, 255, 255, 0.596);    
 }
 
 .experiencia{
     text-align: left;
     text-align: justify;
     width: 28%;
     padding: 0.3cm;
     background-color: whitesmoke;
 }
 
     td
     {
 
       border:1px solid rgb(255, 255, 255) ;
       box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(131, 130, 130);
 
     }
 table{
     text-align: center;
 
 }
 
 
 body{
    
     font-family: 'Times New Roman';
    
 }
 
 
 .contactar{
     text-align: left;
     padding-top: 10%;
     background-color: whitesmoke;
     
 }
 
 input{
     border-radius: 0.1cm;
     color: aliceblue;
     border-color: rgb(255, 255, 255);
     color: black;
 }
 
 button{
     color: black;
     font-family: 'Times New Roman';
     border-radius: 0.5cm;
     border-color: rgba(255, 255, 255, 0.452);
     margin: 0.1cm;
     cursor: pointer;
 }